{% extends "network/layout.html" %}

{% block body %}
    <h1 class="font-weight">{{ user_of_profile.username }}'s following</h1>
    <div style="margin: 35px;">
        {% for post in posts %}
        <div class="card">
            <div class="card-content">
            <a href="{% url 'visit_profile' id=post.author.id%}" class="theme-text"><b>{{post.author}}</b></a><hr>
                <p>{{ post.content }}</p>
                <p class="date">{{ post.timestamp }}</p>
            </div>
        </div>
         {% endfor %}
    </div>

    <footer>
    <div class="button-container">
    <span>
        {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}"><button class="button2">Previous</button></a>
        {% endif %}
    </span>

    <span>
        {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}"><button class="button2">Next</button></a>
        {% endif %}
    </span>
</div>
</footer>

{% endblock %}