{% extends "network/layout.html" %}

{% block body %}
    <h1 class="font-weight">All Posts</h1>
    <div style="margin: 35px;">
    {% if user.is_authenticated %}
        <h4 class="font-weight"> New Post</h4>
        <form action="{% url 'new_post' %}" method="post">
            {% csrf_token %}
            <textarea class="form-control" id="exampleFormControlTextarea1" name="content" rows="4"></textarea>
             <button class="button2" type="submit">Post</button>
        </form>
    {% endif %}
        {% for post in posts %}
        <div class="card">
            <div class="card-content">
            <a href="{% url 'visit_profile' id=post.author.id%}" class="theme-text"><b>{{post.author}}</b></a><hr>
                <p>{{ post.content }}</p>
                <p class="date">{{ post.timestamp }}</p>
            </div>
        </div>
         {% endfor %}
    </div>

    <div class="button-container">
    <span>
        {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}"><button class="button2">Previous</button></a>
        {% endif %}
    </span>

    <span>
        {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}"><button class="button2">Next</button></a>
        {% endif %}
    </span>
</div>

{% endblock %}