{% extends "network/layout.html" %}

{% block body %}
    <div class="centered">
    <h1 class="font-weight">{{ username }}</h1>
    </div>
    <div class="follower-following">
  <div class="follower-count">
    <span class="count">0</span>
    <span class="label">Followers</span>
  </div>
  <div class="following-count">
    <span class="count">0</span>
    <span class="label">Following</span>
  </div>
</div>



    <div style="margin: 35px;">
        {% for post in posts %}
        <div class="card">
            <div class="card-content">
            <a href="" class="theme-text"><b>{{post.author}}</b></a><hr>
                <p>{{ post.content }}</p>
                <p class="date">{{ post.timestamp }}</p>
            </div>
        </div>
         {% endfor %}
    </div>
{% endblock %}